{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% bootstrap_css %}

    <!--====== Required meta tags ======-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/color-switcher.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu_sideslide.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">


</head>

<body>
    <!-- Header Section Start -->
    <header id="slider-area">  
        <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
          <div class="container">          
            <a class="navbar-brand" href="index.html"><span class="lni-bulb"></span>ESSENCE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="https://django2-gustaoliv.herokuapp.com/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="https://django2-gustaoliv.herokuapp.com/produto">Cadastrar Produto</a>
                  </li>
                <li class="nav-item">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#">Contato</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="https://django2-gustaoliv.herokuapp.com/admin">Login</a>
                </li>                            
              </ul>              
            </div>
          </div>
        </nav> 
    </header> 


    <!-- Image Section Header -->
    <section class="video-promo-contato section">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="video-promo-contato-content text-center">
                  <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Contate-nos</h2>
                  <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Fale com a nossa equipe técnica</p>
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Image Section Header -->

    <br>


    <!-- Contact Section Start -->
    <section id="contact" class="section">      
        <div class="contact-form">
          <div class="container">
            <div class="section-header">          
              <h2 class="section-title">Entre em contato</h2>
              <p class="section-subtitle">Preencha o formulário abaixo que nossa equipe entrará em contato</p>
            </div>
            <div class="row">          
              <div class="col-lg-9 col-md-9 col-xs-12">
                <div class="contact-block">
                    <form  id="contact-form" action="{% url 'contato' %}" method="post">
                        <!-- Token de segurança -->
                        {% csrf_token %}
                        <!-- Aplica o CSS no form do Django -->
                        {% bootstrap_form form %}
                        <!-- Botão -->
                        {% buttons %}
                        <div class="form-input rounded-buttons mt-20">
                            <button type="submit" class="btn btn-common btn-effect">Enviar</button>
                        </div> <!-- form input -->
                        {% endbuttons %}
                        {% bootstrap_messages %}
                    </form>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="contact-deatils">
                  <!-- Content Info -->
                  <div class="contact-info_area">
                    <div class="contact-info">
                      <i class="lni-map"></i>
                      <h5>Endereço</h5>
                      <p>Montes Claros - MG, Brasil</p>
                    </div>
                    <!-- Content Info -->
                    <div class="contact-info">
                      <i class="lni-star"></i>
                      <h5>E-mail</h5>
                      <p>gusta.oliv4@gmail.com</p>
                    </div>
                    <!-- Content Info -->
                    <div class="contact-info">
                      <i class="lni-phone"></i>
                      <h5>Telefone</h5>
                      <p>+55 38 99127-7179</p>
                    </div>
                    <!-- Icon -->
                    <ul class="footer-social">
                      <li><a class="github" href="https://github.com/gustaoliv"><i class="lni-github"></i></a></li>
                      <li><a class="linkedin" href="https://www.linkedin.com/in/gustavo-a-oliveira/"><i class="lni-linkedin"></i></a></li>
                      <li><a class="instagram" href="https://www.instagram.com/gusta.oliv/"><i class="lni-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>            
      </section>
      <!-- Contact Section End -->


    {% bootstrap_javascript jquery='full' %}
</body>

</html>